.Dictionary section {
  background-color: gray;
  border-radius: 5px;
  padding: 25px;
  margin: 0 auto;
  background-color: #f2f2f4;
}
.Dictionary h2.question {
  font-size: small;
}

form {
  line-height: normal;
  margin-bottom: 30px;
}

.Dictionary input {
  padding: 8px 10px;
  font-size: 1.25em;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #000;
}

.Dictionary button.search {
  padding: 11px 10px 9px 10px;
  line-height: normal;
  border-radius: 5px;
  margin: 0 auto;
  margin-left: 5px;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  text-align: center;
}

.Dictionary button.search:hover {
  color: #000;
  background-color: #fff;
  font-weight: bolder;
}
