body {
  margin: 0;
  font-family: "Muli", Sans-Serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", Serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
