.Phonetic {
  margin: 10px 0;
}

.Phonetic ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Phonetic li {
  display: inline-block;
  margin-right: -4px;
  padding: 5px 10px;
  font-size: 12px;
}

.Phonetic a {
  color: #000;
  text-decoration: none;
}

.Phonetic a:hover {
  color: #bf4517;
}
